{% extends "base.html" %} 
	{% block title %}Bienvenidos{% endblock %} 
	{% block content %} 
	{% if user.is_authenticated %}
<!--
<div class="12u">
<div class="box">
< -->
<script type="text/javascript">
	var campus={{campus|safe}}
	var inscritos={{inscritos|safe}}
	var prematriculados={{prematriculados|safe}}
	var matriculados={{matriculados|safe}}
	var carrera2={{carrera|safe}}
	</script>
<div class="12u" style="height:100%;">
    <div class="box" style="height:100%;">
<div id="grande" style="height:100%;">
<div id="map"><script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBX7tphgxHk80JIzJySzGvvc39TceA8v-M&libraries=places&callback=initMap" async defer></script>
</div><div id="video"><video id="videoarea" controls="controls" poster="" src="" src="" style="height:100%; width:100%;">
       </video></div><br><div id="cuadro1"><canvas id="doughnut-chart" style="height:87%; width:100%;" ></canvas><button id="a" class="button alt small" style="height:9%;"><h5>A</h5></button><button id="r" class="button alt small"style="height:9%;"><h5>R</h5></button></div><div id="cuadro2" class="actions"><canvas id="myChart" style="height:87%; width:100%;"></canvas><button id="addData" class="button alt small" style="height:9%;"><h5>Añadir</h5></button><button id="removeData" class="button alt small" style="height:9%;"><h5>Remover</h5></button></div>

</div>
</div>
</div>
<!--
</div> -->
{% else %} 




{% endif %} 
	
	{% endblock content %}
