
{% extends "base.html" %}

{% block content %}
<!--div class="12u">
	<div class="box"-->


<!-- Main -->
<!--section id="main" class="container"-->
	
						<section class="box special">
							<header class="major">
						    	{% load static%}	
								<h2><img src="{% static 'perfiles/images/logo.png' %}" alt="" />  <br />Estadisticas de Estudiantes Universitarios </h2>
								<p>En la UPS los protagonistas del proceso de aprendizaje son los estudiantes, que generan conocimientos en un ambiente cooperativo, amable y de solidaridad, adquiriendo las competencias y desarrollando las habilidades necesarias para formarse como profesionales,
									 "honrados ciudadanos y buenos cristianos" con capacidad académica e investigativa, que contribuyan al desarrollo sostenible local y nacional.<br />	<br />	
															
							     La presencia de la Universidad Politécnica Salesiana en ciudades como Cuenca, Quito y Guayaquil, responde a la necesidad de 
									expandir la educación superior salesiana en las principales ciudades del Ecuador.</p>
						
						    </header>
							<!--span class="image featured"><img src="images/estadistica2.png" alt="" /></span-->
						</section>
	
						<!--section class="box special features">
							<div class="features-row">
								<section>
									<span class="icon major fa-area-chart accent3"></span>
									<h3>Ipsum dolor</h3>
									<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								</section>
								<section>
									<span class="icon major fa-cloud accent4"></span>
									<h3>Sed feugiat</h3>
									<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								</section>
							</div>
						</section-->
	
						<div class="row">
							<div class="6u 12u(narrower)">
	
								<section class="box special">
									{% load static%}		
									<span class="image featured"><img src="{% static 'perfiles/images/cue.jpg' %}" alt="" /></span>
									<h3> Sede Cuenca <br />Campus El Vecino</h3>
									<img src="{% static 'perfiles/images/avatar2.jpeg' %}" alt="" />
									<p>Calle Vieja 12-30 y Elia Liut</p>
									<!--ul class="actions">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul-->
								</section>
	
							</div>
							<div class="6u 12u(narrower)">
	
								<section class="box special">
								    {% load static%}	
									<span class="image featured"><img src="{% static 'perfiles/images/uio.jpg' %}" alt="" /></span>
									<h3>Sede Quito <br />Campus El Girón</h3>
									<img src="{% static 'perfiles/images/avatar2.jpeg' %}" alt="" />
									<p>Av. Isabel La Católica N. 23-52 y Madrid</p>
									<!--ul class="actions">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul-->
								</section>
	
							</div>
						</div>
						<div class="row">
							<div class="6u 12u(narrower)">
	
								<section class="box special">
									{% load static%}	
									<span class="image featured"><img src="{% static 'perfiles/images/uio2.jpg' %}" alt="" /></span>
									<h3>Sede Quito <br />Campus Sur</h3>
									<img src="{% static 'perfiles/images/avatar2.jpeg' %}" alt="" />
									<p>Rumichaca y Morán Valverde s/n</p>
									<!--ul class="actions">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul-->
								</section>
	
							</div>
							<div class="6u 12u(narrower)">
	
								<section class="box special">
									{% load static%}	
									<span class="image featured"><img src="{% static 'perfiles/images/gye.jpg' %}" alt="" /></span>
									<h3>Sede Guayaquil<br />Campus Centenario</h3>
									<img src="{% static 'perfiles/images/avatar2.jpeg' %}" alt="" />
									<p>Robles 107 y Chambers</p>
									<!--ul class="actions">
										<li><a href="#" class="button alt">Learn More</a></li>
									</ul-->
								</section>
	
							</div>
						</div>
	
		<!--/section-->
<!--/div>
</div-->
{% endblock content %}


