{% extends "base.html" %}

{% block title %}Inicia Sesión{% endblock %}

{% block content %}
    
 <!--    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit">
    </form>
    
     -->
     <!-- 
     <div class="forms-grids" style="position:absolute; left:5% ; width: 62%" >
      -->
      <div class="forms-grids" >
     <div class="forms3" >
		<div class="panel panel-widget agile-validation">
								<div class="validation-grids validation-grids-right login-form">
									<div class="widget-shadow login-form-shadow" data-example-id="basic-forms"> 
										<div class="input-info">
											<h3>Inicio de Sesión:</h3>
										</div>
										<div class="form-body form-body-info">
											<form data-toggle="validator" method="post" novalidate="true">
											  {% csrf_token %}
												<div class="form-group has-feedback">
													<input type="text" class="form-control" name="username" value="{{username}}" placeholder="Ingresa tu usuario" data-error="El usuario no es válido" required="">
													<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
												</div>
												<div class="form-group">
													<input type="password" data-toggle="validator" data-minlength="6" class="form-control" id="password" name="password" placeholder="Password" required="">
												</div>
												<div class="bottom">
													<div class="form-group">
														<div class="checkbox">
															<label>
																<input type="checkbox" id="terms1" data-error="Antes que lo arruines y te olvides" required="">
																Recordar
															</label>
															<div class="help-block with-errors"></div>
														</div>
													</div>
													
													{% if form.errors %}
										                    <span class="help-block with-errors">
											                    <ul class="list-unstyled">
												                    <li>Tu usuario o contraseña, están incorrectos. 
												                        Por favor inténtalo de nuevo.
												                    </li>
											                    </ul>
										                    </span>
								               		 {% endif %}
													<div class="form-group">
														<button id="id_login" name="login" type="submit" class="btn btn-primary disabled">Iniciar Sesión</button>
													</div>
													<div class="clearfix"> </div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

{% endblock content %}