<!DOCTYPE html>
<html>

<head>

    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static "perfiles/assets/css/main.css" %} /> 
       {% load static %}
    <!-- 
	<link rel='stylesheet' type='text/css' href={% static "perfiles/style.css" %} />
	 -->
    {% load static %}
    <!-- 
	<link rel='stylesheet' type='text/css' href={% static "perfiles/styleRegistro.css" %} />
	 -->
    {% load static %}
    <!-- 
	<link rel='stylesheet' type='text/css' href={% static "perfiles/styleclearnav.css" %} />
 	 -->
 	 
 	 {% load static %}
    <script src={% static "perfiles/jquery-3.3.1.min.js" %}></script>
    {% load static %}
    <script src={% static "perfiles/Chart.min.js" %}></script>
    {% load static %}
     
    <script src={% static "perfiles/jvs.js" %}></script>
    
    {% load static %}
    <script src={% static "perfiles/assets/js/jquery.dropotron.min.js" %}></script>
    {% load static %}
    <script src={% static "perfiles/assets/js/jquery.scrollgress.min.js" %}></script>
    {% load static %}
    <script src={% static "perfiles/assets/js/skel.min.js" %}>
    </script>
    {% load static %}
    <script src={% static "perfiles/assets/js/util.js" %}>
    </script>
    {% load static %}
    <script src={% static "perfiles/assets/js/main.js" %}>
    </script>


    {% load static %}
    <script src={% static "perfiles/valida.2.1.6.min.js" %}></script>

    {% load static %}
    <script src={% static "perfiles/validator.min.js" %}></script>

    {% load static %}
    <script src={% static "perfiles/index.js" %}></script>
 	
 	<style>
    
	html, body{
  	height: 100%;
 
	}        
        #grande {
            
            width: 100%;
            height: 100%;
            
        }

 	#menu3 {
            border: 1px solid gray;
            width: 100%;
            height: 10%;
        }
        
        #map {
            border: 1px solid gray;
            width: 49%;
            height: 49%;
            display: inline-block;
            margin: 0 0 0 1%;
           
        }
        
        #video {
            border: 1px solid gray;
            width: 49%;
            height: 49%;
            display: inline-block;
            margin: 1% 0 0 0;
        }
        
        #cuadro1 {
            border: 1px solid gray;
            width: 49%;
            height: 49%;
            display: inline-block;
            margin: 0 0 0 1%;
        }
        
        #cuadro2 {
            border: 1px solid gray;
            width: 49%;
            height: 49%;
            display: inline-block;
	    margin: 1% 0 0 0;
            
        }
    </style>

</head>

<body class="landing" style="height:100%;">


    {% if user.is_authenticated %}

    <div id="page-wrapper" style="height:100%;">

        <!-- Header -->
        <header id="header" class="alt">
            <h1 style="font-family: Source Sans Pro, sans-serif; font-size: 13pt;letter-spacing: -0.015em;"><a href="{% url 'bienvenida' %}">Estadísticas de Estudiantes Universitarios</a></h1>

            <nav id="nav">
                <ul>
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'bienvenida' %}">Estadisticas</a></li>
                    <li>
                        <a href="#" class="icon fa-angle-down">Ingreso de Datos</a>
                        <ul>
                            <li><a href="{% url 'campus_crear' %}">de Campus</a></li>
                            <li><a href="{% url 'carreras_crear' %}">de Carreras</a></li>
                            <li><a href="{% url 'periodoslectivos_crear' %}">de Períodos Lectivos</a></li>
                            <li><a href="{% url 'estudiantesresumen_crear' %}">de Resumen Estudiantes</a></li>
                            <li><a href="{% url 'asignaturasresumen_crear' %}">de Resumen Asignaturas</a></li>

                            <!--
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
									-->
                        </ul>
                    </li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contáctanos</a></li>

                    <li><a href="{% url 'sign_out' %}" class="button">Cerrar Sesión: {{ user.username }}</a></li>
                </ul>
            </nav>
        </header>
        <section id="banner">
					
		</section>
    <section id="main" class="container" style="height:100%;">
    <div class="row" style="height:100%;">
    {% else %}

    <div id="page-wrapper" style="height:100%;">
	
        <!-- Header -->
        <header id="header" class="alt">
            <h1 style="font-family: Source Sans Pro, sans-serif; font-size: 13pt;letter-spacing: -0.015em;"><a href="{% url 'bienvenida' %}">Estadísticas de Estudiantes Universitarios</a></h1>
            <nav id="nav">
                <ul>
                    <!--li><a href="{% url 'bienvenida' %}">Inicio</a></li-->
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contáctanos</a></li>
                    <li>
                        <a href="#" class="icon fa-angle-down">Iniciar Sesión</a>
                        <ul>
                            <li><a href="{% url 'sign_in' %}">Ingresar</a></li>
                            <li><a href="{% url 'sign_up' %}">Registrarse</a></li>

                            <!--
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
									-->
                        </ul>
                    </li>
                    <!-- <li><a href="#" class="button">Sign Up</a></li> -->
                </ul>
            </nav>
        </header>
       <section id="banner">
					
		</section>
        <section id="main" class="container" style="height:100%;">
        <div class="row" style="height:100%;">
        
   
    
		    {% endif %} 
		    {% block content %}
		     
		    {% endblock content %}
			</div>
        </section>
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li>Design: <a href="#">HTML5 - Django</a></li>
        </ul>
    </footer>

 </div>
    
    
    {% load static %}
    <!-- 
	<script>
		$(function() {
			initMap();
			});
		</script>
	 -->
</body>

</html>
